@charset "utf-8";

@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
// @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

@font-face {
  font-family: 'Circular Std Book';
  src: url('/static/fonts/circular/CircularStd-BookItalic.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('/static/fonts/circular/CircularStd-Book.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-Medium.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-BlackItalic.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-Bold.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-Black.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/static/fonts/circular/CircularStd-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/circular/CircularStd-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/// BULMA

// Set your brand colors
$green: #45d092;
$blue: #0d6eac;
$grey-900: #1f1f1f;
$grey-800: #2a2a2a;
$grey-700: #3b3b3b;
$grey-600: #4c4c4c;
$grey-500: #5e5e5e;
$grey-400: #6f6f6f;
$grey-300: #7f7f7f;
$grey-200: #8f8f8f;
$grey-100: #eeeeee;
$background: $grey-900;
$border-color: $grey-400;
$primary: $green;
$link: $green;

$shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
$shadow-shallow: 0 0 3px 3px rgba(0, 0, 0, 0.2);

// Typography
$body-size: 14px;
$text: $grey-100;
$title-color: $text;
$subtitle-color: $text;
$text-invert: $grey-900;
$link-invert: $grey-100;
$link-hover: $grey-100;
$family-sans-serif: 'Circular', 'Circular Std', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;

// Navbar
$navbar-background-color: $background;
$navbar-item-color: #fff;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $background;
$navbar-dropdown-background-color: $background;

// Footer
$footer-background-color: $background;

// Forms
$input-background-color: $background;
$input-color: $text;
$input-border-color: $border-color;

// Buttons
$button-color: $text;
$button-background-color: $background;
$button-border-color: $border-color;
$button-hover-color: $text;
$button-padding-vertical: calc(0.6em - 1px);

// Box
$box-background-color: $grey-800;
$box-color: #fff;
$box-shadow: $shadow-shallow;

// Import only what you need from Bulma
@import '../../node_modules/bulma/bulma.sass';

// SPACING CSS - see usage: https://github.com/jgthms/bulma/issues/451#issuecomment-331758839
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue) !important;
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue) !important;
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
  }
}
// end spacing

//
// Custom CSS
//
html,
body {
  background: $background;
  color: $text;
}
.navbar {
  box-shadow: $shadow;
}
.footer {
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.button {
  text-transform: uppercase;
  font-size: 0.8em;
  &.is-primary.has-shadow {
    box-shadow: 1px 1px 5px 5px rgba($primary, 0.0);
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
      box-shadow: 1px 1px 5px 5px  rgba($primary, 0.1);
    }
  }
}
#Modal {
  .modal-card-head,
  .modal-card-foot {
    background: #fff;
    border: none;
  }
  .modal-card-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .modal-card-foot {
    justify-content: flex-end;
  }
}
